
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.0/dist/chart.min.js"></script>   

    {% if title %}
        <title>My Recycle Friend - {{ title }}</title>
    {% else %}
        <title>My Recycle Friend</title>
    {% endif %}

</head>




<body>
    <img src="{% static '/Material_Classifier/media/My-Recycle-Manager-logo.png' %}" class = "rounded mx-auto d-block" width="80" height="80"/>
    
    {% if messages %}
    {% for message in messages%}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class = "border-top pt-3">
            <small class = "text-muted">Need an account? <a href="{% url 'register-page' %}" class = "ml-2">Sign Up Now</a></small>
        </div>
    </div>
</body>